html{
  box-sizing: border-box;
  /*max-width: 1920px;*/
  scroll-behavior: smooth;
}
body{
  margin: 0px;
  max-width: 1440px;
  margin: 0px auto;
  border: 3px solid #909e14;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}

 /*хедр*/
.header{
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  padding: 0px;
  margin: 0px;
  /*max-width: 100%;*/
}
.logo-photo{
  max-width: 500px;
  margin: 0px 30px 0px 0px;
}
.container{
  flex-direction: column;
  flex-grow: 1;
}
.nav__list--header{
  display: flex;
  justify-content: space-between;
  align-self: baseline;
  padding: 0px 30px;
  margin: 0px;
  /*max-width: 720px;*/
}
.nav__item--header{
  margin-left: 40px;
  line-height: 40px;
}
.nav__item--header:first-child{
  margin-left: 0px;
}
.nav__item--header:hover, .side-contact__link:hover, .education__link:hover{
  background-color: #a216b4a4;
  transition: .3s;
  cursor: pointer;
}
.nav__link{
  font-family: Roboto;
  font-weight: 300;
  font-size: 22px;
  /*line-height: 40px;*/
  letter-spacing: 2px;
  color: #000000;
}
.header-caption{ /* обертка для текста с имененм м профессие*/
  line-height: 51px;
  padding-left: 30px;
  margin-top: 200px;
  background: linear-gradient(to right, blue, pink);
}
.caption{
  font-family: Forum;
  /*font-style: normal;
  font-weight: normal;*/
  font-size: 28px;
  line-height: 51px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px;
  padding-top: 20px;
  /*display: block;*/
  /*padding-left: 70px;*/
}
.caption__desc{
  font-family: Roboto;
  font-weight: 200;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #ffffff;
  margin: 0px;
  padding-bottom: 20px;
}
.about-me{
  margin-top: 125px;
}
.about-caption{
  font-family: Forum;
  font-size: 25px;
  line-height: 50px;
  letter-spacing: 2px;
  padding-left: 20px;
  margin: 0px;
  border-left: 10px solid #a216b4a4;
}
.about-caption:hover{
  background-color: #a216b4; /*сделать анимацию слева на право красивого щаполнения фона*/
  transition: .3s;
  cursor: pointer;
}
.about__desc{
  font-family: Forum;
  font-size: 25px;
  text-align: justify;
  line-height: 35px;
  letter-spacing: 2px;
  padding: 15px 30px;
  margin: 0px;
} /* закончили с хедером*/

.wrapper{
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

/*боковая панель под фото*/
.left-side{
  min-width: 470px;
  margin: 0px 30px 0px 0px;
  padding-left: 30px;
  padding-top: 20px;
  background-color: #a216b434;
}
.contact, .education{
  width: 470px;
}
.side-contact, .education__list{
  box-sizing: border-box;
  padding: 15px 30px;
  margin: 0px;
  font-family: Forum;
  font-size: 25px;
  text-align: left;
  line-height: 35px;
  letter-spacing: 2px;
}
.side-contact__item{
padding: 5px 0px;
}
.side-contact__link, .education__link{
  text-decoration: underline;
  text-decoration-color: #a216b4a4;
  color: #000000;
  font-style: italic;
}
.address{
  padding-top: 40px;
}
.address-desc{
  padding: 5px 0px;
  margin: 0px;
}
.education{
  margin-top: 100px;
}
.education__institution{
  margin: 10px 0px;
}
.education__speciality, .education__degree{
  font-size: 22px;
  line-height: 35px;
  margin: 10px 0px;
}
.education__degree{
  font-style: italic;
}
.education__item{
  padding-bottom: 50px;
}

.right-side{
  flex-grow: 1;
  padding-top: 20px;
}
.skills__item{
padding-bottom: 10px;
}